.BoardButton {
  all: unset;
  margin: 0;
  background-size: 100%;
}

.Player0 {
  color: transparent;
}

.Player1 {
  color: black;
}

.Player2 {
  color: white;
}

.LeftTopCorner {
  background-image: url('../Img/LeftTopCorner.png');
}

.RightTopCorner {
  background-image: url('../Img/RightTopCorner.png');
}

.LeftBottomCorner {
  background-image: url('../Img/LeftBottomCorner.png');
}

.RightBottomCorner {
  background-image: url('../Img/RightBottomCorner.png');
}

.LeftEdge {
  background-image: url('../Img/LeftEdge.png');
}

.RightEdge {
  background-image: url('../Img/RightEdge.png');
}

.TopEdge {
  background-image: url('../Img/TopEdge.png');
}

.BottomEdge {
  background-image: url('../Img/BottomEdge.png');
}

.InBoard {
  background-image: url('../Img/InBoard.png');
}

.BoardButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

.TrackedResult {
  animation: FlashTrackedResult linear infinite 600ms;
}

@keyframes FlashTrackedResult {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
