.Bottom * {
  display: inline;
}

.Bottom button {
  all: unset;
  background-color: gray;
  margin-top: 1vh;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  padding-left: 0.25vw;
  padding-right: 0.25vw;
}

.Bottom button:hover {
  background-color: #61dafb;
  cursor: pointer;
}
