.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Board {
  width: 817px;
}

.Tiles {
  width: 100%;
  height: 817px;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(19, 1fr);
  background-color: rgba(202, 138, 85, 0.5);
}

.BoardButton {
  all: unset;
  margin: 0;
}

.Player1 {
  color: black;
}

.Player2 {
  color: white;
}

.LeftTopCorner {
  background-image: url('Img/LeftTopCorner.png');
}

.RightTopCorner {
  background-image: url('Img/RightTopCorner.png');
}

.LeftBottomCorner {
  background-image: url('Img/LeftBottomCorner.png');
}

.RightBottomCorner {
  background-image: url('Img/RightBottomCorner.png');
}

.LeftEdge {
  background-image: url('Img/LeftEdge.png');
}

.RightEdge {
  background-image: url('Img/RightEdge.png');
}

.TopEdge {
  background-image: url('Img/TopEdge.png');
}

.BottomEdge {
  background-image: url('Img/BottomEdge.png');
}

.InBoard {
  background-image: url('Img/InBoard.png');
}

.BoardButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

.TrackedResult {
  opacity: 0.5;
}
