.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.App-link {
  color: #61dafb;
}

.Title * {
  display: inline;
}

.Title {
  margin-right: 1vw;
}

.WinnerEffect {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  animation: WinnerEffectAnimation linear 3000ms;
  animation-iteration-count: 1;
}

.WinnerEffectContent {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  animation: WinnerEffectContentAnimation linear 3000ms;
  animation-iteration-count: 1;
}

@keyframes WinnerEffectAnimation {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes WinnerEffectContentAnimation {
  0% {
    font-size: 0;
  }
  10% {
    text-shadow: 0 0 5vw #61dafb, 0 0 3vw #61dafb, 0 0 1vw #61dafb;
    font-size: 250%;
  }
}
